.div-search{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 11;
  .search-icon {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    &:hover {
      transform: rotate(45deg);
      color: #ff9800;
    }
  }
}